.inverted {
    filter: invert(1);
}

.inverted img {
    filter: invert(1);
}
.inverted video {
    filter: invert(1);
}

#invertColorsButton {
    background: inherit;
    border: inherit;
    color: inherit; /* Change as needed */
    text-decoration: inherit; /* Makes it look like a link */
    cursor: inherit;
    padding: 0;
    font-family: inherit; /* To match the surrounding text */
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: inherit;
}

.inverted {
    filter: invert(1);
    --bs-body-bg: #000000; /* Set this to the inverted color */
}

/* --- */

.videocontainer {
    width: 100%; /* Adjust as needed */
    opacity: 1;
}

.videocontainer img, .videocontainer video {
    transition: opacity 5s ease-in; /* Adjust time as needed */
    width: 100%; /* Ensure the image and video are the same size */
    height: auto;
    opacity: 1;
}

#videoContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
  }
  
  #videoThumbnail {
    transition: opacity 0.3s ease; /* Smooth transition for the hover effect */
    cursor: pointer; /* Changes the cursor to indicate the image is clickable */
  }
  
  #videoThumbnail:hover {
    opacity: 0.8; /* Slightly reduces the opacity on hover */
  }
  
  #job-title {
    display: inline-block;
    backface-visibility: hidden;
  }
  
  /* Adjust keyframes to ensure opacity is 0 at the halfway point */
  @keyframes flip {
    0% {
      transform: rotateX(0deg);
      opacity: 1;
    }
    25% {
      transform: rotateX(90deg);
      opacity: 0;
    }
    75% {
      transform: rotateX(90deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  
  .fade-out {
    animation: flip 0.5s forwards;
  }

  /* Fix for grey line on card thumbnails */
  .card-img::before {
    background: transparent !important;
    border: none !important;
  }

  .card-img {
    line-height: 0;
  }
